<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>1</MenuUpdateVersion>
    <Volume>82</Volume>
    <RecentFiles>
        <string>C:\Users\luohx_oot5e0z\Downloads\38090-sc-1080p.mp4</string>
        <string>D:\CommonFiles\Videos\JUR-175\JUR-175.mp4</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>1564</X>
        <Y>1003</Y>
    </WindowPosition>
    <WindowSize>
        <Width>2754</Width>
        <Height>1549</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>Audio:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>